<h1>{{ title }}</h1>

<div class="chatbot-icon" (click)="toggleChatbox()">
    <mat-icon aria-hidden="false" fontIcon="chat"></mat-icon>
  </div>
  
  <div class="chatbox" [ngClass]="{ open: chatboxOpen }">
      <div class="header">
        <h2>Angular Mantra assistant!</h2>
        <h6 class="right-align">- Powered by OpenAI</h6>
      </div>
      <app-conversation class="chatbox-conversation" [messages]="messages"></app-conversation>
      <div class="footer">
        <app-app-prompt (textChange)="handlePromptChange($event)"></app-app-prompt>
      </div>
  </div>